[flake8]
ignore = C101,D403,F403,F405,I100,I201,W503,W504 ,Q000 ,E402 ,B007 ,B001 ,E126 , F821 ,E722 , F401, E501, yapf
exclude =
    .git,
    __pycache__,
    venv

filename = *.py
accept-encodings = utf-8
inline-quotes = single
max-complexity = 17
max-linenumber = 500
max-line-length = 140
multiline-quotes = double
per-file-ignores =
    core/project/settings/templates/settings.dev.py:F821
