@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

body {
    background-color: rgba(233, 242, 250);
    background-image: url("/static/img/option1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Rubik", sans-serif;
    transform-origin: center center;

}


.hamburger-btn {
    margin-top:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 2.25rem;
    height: 1.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 0.1875rem;
    background-color: #000;
}

nav {
    display: flex;
    height: 5.2rem;
    background-color: rgba(9, 30, 40, 0.3);
    transition: background-color 0.3s;
}

.nav2 {
    width: 80%;
    display: flex;
    height: 100%;
    padding: 0.4rem;
    justify-content: center;  /* Center items horizontally */
    align-items: center;      /* Center items vertically */
    margin: auto;
    position: relative;  /* Added for absolute positioning of logo */
}

.nav2 ul {
    margin-top:1rem;
    color: white;
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0 2rem;
    align-items: center;   /* Added to align items vertically in the center */
}

.nav-link{
    margin-top:1rem;
}

.nav2 ul li {
    margin:0.8rem;
    transition: transform 0.3s ease;  /* Smooth transition for the transform property */
}

.nav2 ul li:hover {
    transform: scale(1.2);  /* Scale the list item to 110% of its original size on hover */
}

.nav2 a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}
.nav2 .enter {
    max-width: 35px;

    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    color: black; /* Changed color to black */
    text-align: right;
}

.transparent-nav {
    background-color: transparent;
}


.logo-menu {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.logo-img {
    position:right;
    width: 3.8rem;
    height: 3.8rem;
}

.about-us {
  color: white;
  text-align: center;
  font-size: 1.4rem;
  max-width: 48%;
  margin: 8rem auto;
  line-height: 2.2rem;
}

footer {
  height: 40vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10rem;
  background-size: 100%;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .a-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin: auto;
  max-width: 38%;
}

footer .a-list a {
  list-style: none;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.3rem;
  text-shadow: 0.125rem 0.25rem 0.5rem #01080e; /* Converted from 2px 4px 8px */
}

footer .a-list p {
  padding: 0.3125rem 0; /* Converted from 5px 0 */
}

.left-logo2 .logo-menu2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 6rem;
  margin-bottom: -3.4rem;
}

.left-logo2 .logo-menu2 .group-11-2 {

  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/e60148ad-fcec-47a1-b9a4-f501bfe36b52.svg");
  margin-bottom: 0.174em; /* Converted from 3.48px */
  padding: 5em 1.396em 0.595em 2.432em; /* Converted from 80px 21.09px 9.28px 30.24px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}


.left-logo2 .logo-menu2 .ellipse-1-2 {
  max-width: 0.1em;
  max-height: 0.1em;
  background-color: #f0f0f0;
  border-radius: 50%;
  margin: 0 auto;
}
.left-logo2 .logo-menu2 .next-roof-2 {
  font-family: "Major Mono Display";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  margin: auto;
}

.left-logo2 .hand-footer img {
  max-width: 80%;
  float: left;
}


@media (max-width: 768px) { /* Tablet and below */

    #nav-bar {
        display: none;
        width: 100%;
        height: 100%;
        background-color: #333;
        position: fixed;
        top: 0;
        left: 10rem;
        z-index: 1000;
        flex-direction: column;
        align-items: center;
    }

    .hamburger-btn {
        position: relative;
        z-index: 1001;
        margin-top:1rem;
        display: flex;
        margin-left:5.5rem;
        justify-content: right;
        align-items: right;
    }


    .nav2 ul {
        flex-direction: column;
        padding: 1rem 0;
        gap: 2.5rem;
        align-items: center;
        margin-bottom: auto;
    }


    .about-us {
        max-width: 100%;
        margin: 4rem auto;
    }

    footer .a-list {
        margin-right: 1.2rem;
        max-width: 90%;
    }

    .left-logo2 {
        margin-left: 1rem;
    }

}

/* Medium screens (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Add any specific styling for medium screens here */
}

/* Large screens (desktops) */
@media only screen and (min-width: 1025px) {
  /* Add any specific styling for large screens here */
}

