.logo-menu1 .group-26 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.001rem;
}

.logo-menu1 .ellipse-1-two {
  width: 0.541875rem;
  height: 0.541875rem;
  margin-bottom: 0.115625rem;
  border: 0.00625rem solid #c9c9c9;
  border-radius: 50%;
}

.logo-menu1 .union {
  width: 1.6525rem;
  height: 1.59625rem;
}

.Search-rectangle {
  position: absolute;
  width: 87%;
  min-height: 15.7rem;
  background: rgba(255, 255, 255, 0.5);
  clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%);
  border-radius: 0.0125rem;
  left: 5.25rem;
  top: 7.375rem;
}

.hero-search {
  position: relative;
  min-height: 57vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.sell-asset-value {
  position: absolute;
  top: 2rem;
  right: 9rem;
  display: flex;
  align-items: flex-start;
  padding: 1rem;
}


.buy, .sale {
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

form {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  right: 1rem;
  position: flex;
  z-index: 80;
}



.sell-asset-value {
  position: absolute;
  top: 2rem;
  right: 9rem;
  display: flex;
  align-items: flex-start;
  padding: 1rem;
}


form input, form select {
  border-style: none;
  border-radius: 0.2rem;
  width: 100%;
  max-height: 2rem;
}

form .search-btn {
  position: absolute;
  top: 5rem;
  left: 55rem;
  padding: 0.52rem 2.5rem;
  border-style: none;
  border-radius: 0.5125rem;
  background: #041524;
  color: #ffffff;
  transition: 0.3s;
  font-size: 1.5625rem;
  font-weight: bold;
}

form .search-btn:hover, .click-continue:hover {
  background: #041544;
}


.click-continue {
  padding: 0.5rem 1.8rem;
  border-style: none;
  border-radius: 0.2rem;
  background: #041524;
  color: #ffffff;
  transition: 0.3s;
}
.search-text {
  font-size: 2rem;
  font-weight: 400;
  color: #020b13;
  text-align: right;
  padding: 1rem;
}

.total-results {
  position: absolute;
  top: 4.375rem;
  left: 0.1rem;
  width: 15.75rem;
  height: 2.5rem;
  background-color: #f5f5f5;
  padding: 1.25rem;
  border-radius: 0.625rem;
  text-align: center;
}

.total-results .res-number {
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.results {
  text-align: center;
  margin-top: 1.25rem; /* Converted from 20px */
}

.total-results {
  background-color: #f5f5f5;
  padding: 1.25rem; /* Converted from 20px */
  border-radius: 0.625rem; /* Converted from 10px */
}

.total-results .res-number {
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.sort_label {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-right: 0.625rem;
}

#sort {
  appearance: none;
  padding: 0.5rem 0.75rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
}

#sort option {
  background-color: #f9f9f9;
  color: #333;
}

#sort:hover, #sort:focus {
  border-color: #999;
}

#sort:hover option,
#sort:focus option {
  background-color: #e0e0e0;
  color: #333;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-bordered {
  border-collapse: separate;
  border-spacing: 1.25rem;
  margin-bottom: 3.125rem;
}

.table-bordered td {
  padding: 1.875rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
  margin: 0.625rem;
}

.table-bordered dt {
  border-bottom: none;
}

.apt-card {
  margin: 0.75rem;
  border-radius: 0.625rem;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.7s;
  width: 32.0rem;
  max-width: 20rem;
}

.apt-card img {
  width: 100%;
  border-radius: 0.9375rem;
}

.apt-card .apt-card-body {
  text-align: center;
  padding: 0.625rem;
  font-size: 1.1rem;
}

.apt-card .saving {
  margin-bottom: 0.625rem; /* Converted from 10px */
  font-size: 1.2rem;
  font-weight: bold;
}



.apt-card .saving, .apt-card .price, .apt-card .predicted-price, .apt-card .location-apartment {
  margin-bottom: 0.5rem;
}

.apt-size-floor-rooms {
    font-size: 0.96rem;
}

.apt-card .apt-size:last-child::after,
.apt-card .apt-floor:last-child::after {
  display: none;
}

.button-container {
  margin-top: 0.625rem; /* Converted from 10px */
}

.apt-card .apt-link {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.apt-card .apt-link .btn {
  display: block;
  width: 100%;
  padding: 0.625rem 1.25rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.3125rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  transition: background-color 0.3s;
}

.apt-card .apt-link .btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.card .card-body a {
  margin: 0.625rem; /* Converted from 10px */
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
  background-color: #f9f9f9;
  padding: 0.625rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.pagination a {
  color: #333;
  text-decoration: none;
  padding: 0.3125rem 0.625rem;
  margin: 0.3125rem;
  border-radius: 0.125rem;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #e6e6e6;
}

.pagination a.active {
  background-color: #041524;
  color: #ffffff;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.125rem;
}

.pagination .current-page {
  font-weight: bold;
  margin: 0 0.625rem; /* Converted from 10px */
}

@media only screen and (max-width: 768px) {

    .sell-asset-value {
      position: absolute;
      top: 0rem;
      right: 1rem;

    }

  /* Adjusting the hero search section */
  .hero-search {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Adjusting the search rectangle */
  .Search-rectangle {
    position: absolute;
    width: 100%;
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
    left: -3rem;
    top: 5rem;
    min-height: 24.2rem;


  }

  /* Adjusting the form's layout and components */
  form {
    flex-direction: row;
    flex-wrap: wrap; /* in case it needs to wrap */
    right: auto;
    gap: 0.1rem;
  }

  form input, form select {
    width: 100%;
    margin-bottom: 0.05rem;
  }

  form .search-btn {
    position: static;
    width: 40%;
    left: auto;
    top: auto;
    font-size: 0.5rem;
    padding:0.5rem;
  }

  /* Adjusting the total results positioning */
  .total-results {
    padding:0.5rem;
    border-radius: 0.225rem;
    position: static;
    width: 90%;
    margin-top: 0.05rem;
  }

  /* Adjusting table layout */
  .table-container {
    flex-direction: column;
  }
  .table-bordered td {
    padding: 1rem;
    margin: 0.5rem;
  }

  .apt-card {
    width: 90%; /* Allows the card to take up more space on mobile screens */
    margin: 0.2rem auto; /* Centers the card with auto margins */
    padding: 0.2rem;
  }
  .apt-card .apt-card-body {
    padding: 0.5rem;
    font-size: 0.7rem;
  }

  .apt-card img {
    width: 5.4rem; /* Set the fixed width here */
    height: 4.8rem; /* Set the fixed height here */
    border-radius: 0.5rem;
    object-fit: cover; /* This ensures that the image covers the width and height without stretching */
  }

  .apt-size-floor-rooms {
    font-size: 0.56rem;
}

  .apt-card .apt-link .btn {
    padding: 0rem 0rem;
    font-size: 0.8rem;

  }
  /* Adjusting pagination layout */
  .pagination {
    flex-wrap: wrap;
  }

  /* Here, you can continue adjusting other elements as needed for mobile responsiveness */
}

/* Medium screens (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/* Large screens (desktops) */
@media only screen and (min-width: 1025px) {
  /* Add any specific styling for large screens here */
}