{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="hero-search">
    <div class="sell-asset-value">
            <div class="buy">
              <a href="{%url 'search' %}">קונה</a>

            </div>
            <div class="sale">
                <a href="{% url 'asset_value' %}">שווי הנכס</a>
            </div>
    </div>

  <div class="search-rectangle">
        <p class="search-text">חיפוש נכס</p>
            <form action="{% url 'asset_value' %}" method="get" class="calc-form">
             <div class="top-search-row">

                <div class="input-search-field">
                    <p>עיר</p>
                    <select class="city" name="city" autocomplete="on" id="city_calc" onchange="saveSelectedCityCalc()" required>
                        {% for city in cities %}
                            <option value="{{ city }}">{{ city }} </option>
                        {% endfor %}
                    </select>
                </div>


                <div class="input-search-field">
                    <p>רחוב</p>
                    <select class="street" name="street" autocomplete="on" id="street_calc"  onchange="saveSelectedStreetCalc(this.value)" required>
                        {% for street in streets %}
                            <option value="{{ street }}">{{ street }}</option>
                        {% endfor %}
                    </select>
                </div>

              <div class="input-search-field">
                <p>מספר בית</p>
                <input type="text" class="home-number" name="home-number" autocomplete="off" id="home-number" placeholder="מספר בית" value="{{params.Home_number}}" required>
              </div>

              <div class="input-search-field">
                <p>מספר חדרים</p>
                <input class="short-text-field" type="number" name="rooms" id="rooms" min="1" max="10" placeholder="חדרים" value="{{params.Rooms}}" required>
              </div>

              <div class="input-search-field">
                <p>קומה</p>
                <input class="short-text-field" type="number" name="floor" id="floor" min="0" max="40" placeholder="קומה" value="{{params.Floor}}" required>
              </div>

              <div class="input-search-field">
                <p>מטר רבוע</p>
                <input class="short-text-field" type="number" name="size" id="size" min="10" max="300" placeholder="מטר" value="{{params.Size}}" required>
              </div>

              <div class="input-search-field">
                <p>חניה</p>
                <select class="parking" name="parking" autocomplete="off" id="parking">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>

              <div class="input-search-field">
                <p>מצב הנכס</p>
                <select class="condition" name="condition" autocomplete="off" id="condition">
                  <option value="1">חדש מקבלן</option>
                  <option value="1">חדש</option>
                  <option value="0">משופץ</option>
                  <option value="0">מצב טוב</option>
                  <option value="0">צריך שיפוץ</option>
                </select>
              </div>
             </div>

            <div class="down-search-row">
               <button class="calc-form search-btn" type="submit">חפש</button>
            </div>
                <div id="loading-popup" class="loading-popup">
                <div class="loading-content">
                    <img src="{% static 'img/loading.gif' %}" alt="Loading" class="loading-spinner">
                    <p>Calculating...</p>
                </div>
            </div>
            </form>
    </div>

</div>
{%if error_message %}
<div class="error-calc">
    <h1> {{error_message}}</h1>
</div>

{% endif %}
{% if search %}

<div class="result-container">
  <div class="algo-res">
    <h2>כתובת: {{params.city}}, {{params.street}} {{params.home_number}}</h2>
    <div class="algo-price">
      <h3>לפי החישוב של NextRoof</h3>
      <h2>שווי הנכס הינו:</h2>
      <h2>{{predicted_price}}</h2>
    </div>
    <div class="algo-card-in">
      <div class="algo-right">
        <ul>
          <li>גודל הנכס: {{params.size}}</li>
          <li>{{params.rooms}}: חדרים</li>
          <li>קומה: {{params.floor}}</li>
          <li>סוג הנכס: דירה</li>
        </ul>
      </div>
      <div class="algo-left">
        <ul>
          <li>שכונה: {{params.neighborhood}}</li>
          <li>גוש: {{params.gush}}</li>
          <li>חלקה: {{params.helka}}</li>
          <li>שנת בנייה: {{params.build_year}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="neighborhood_plot">
    <div class="button-row">
      <button class="button-choose" id="graph" value="true">גרף שכונה</button>
      <button class="button-choose" id="last-deals" value="false">עסקאות אחרונות</button>
      <button class="button-choose" id="similar-deals" value="false">גרף עיר</button>
    </div>

      <div class="user-choice">
        <img id="neighborhood-image" src="data:image/png;base64,{{ neighborhood_plt }}" alt="Neighborhood Plot">
        <div id="last-deals-content" class="generate-last-deals">
          <h3>עסקאות אחרונות ברחוב {{params.street}}</h3>
          <table>
            <thead>
              <tr>
                <th>תאריך</th>
                <th>סוג הנכס</th>
                <th>מספרים חדרים</th>
                <th>קןמה</th>
                <th> גודל (מ"ר)</th>
                <th>שנת בנייה</th>
                <th>מספר קומות</th>
                <th>מספר בית</th>
                <th>מחיר</th>

              </tr>
            </thead>
            <tbody>
              {% for item in last_deals %}
                <tr>
                  <td>{{ item.Date }}</td>
                  <td>{{ item.Type }}</td>
                  <td>{{ item.Rooms }}</td>
                  <td>{{ item.Floor }}</td>
                  <td>{{ item.Size }}</td>
                  <td>{{ item.Build_year }}</td>
                  <td>{{ item.Floors }}</td>
                  <td>{{ item.Home_number }}</td>
                  <td>{{ item.Price }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div id="similar-deals-content" class="generate-similar-deals">
          <img id="city-image" src="data:image/png;base64,{{ city_plt }}" alt="Price Change Plot">

        </div>
      </div>

  </div>
</div>

{%endif%}


<script src="{% static 'js/buy_sell.js' %}"></script>
<script src="{% static 'js/asset_value.js' %}"></script>



{% endblock %}
