{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="hero-search">
    <div class="sell-asset-value">
            <div class="buy">
              <a href="{%url 'search' %}">קונה</a>

            </div>
            <div class="sale">
                <a href="{% url 'asset_value' %}">שווי הנכס</a>
            </div>
    </div>

  <div class="search-rectangle">
        <form action="{% url 'asset_value' %}" method="get" class="calc-form">
            <p class="search-text">חיפוש נכס</p>
            <div class="top-search-row">
                <div class="input-search-field">
                    <p>עיר</p>
                    <input type="text" class="city" name="city" autocomplete="off" id="city" placeholder="עיר" value="{{ params.city }}" required>
                </div>
                <div class="input-search-field">
                    <p>רחוב</p>
                    <input type="text" class="street" name="street" autocomplete="off" id="street" placeholder="רחוב" value="{{ params.street }}" required>
                </div>
                <div class="input-search-field">
                    <p>מספר בית</p>
                    <input type="text" class="home-number" name="home-number" autocomplete="off" id="home-number" placeholder="מספר בית" value="{{ params.home_number }}" required>
                </div>
                <div class="input-search-field">
                    <p>מספר חדרים</p>
                    <input class="rooms" type="number" name="rooms" id="rooms" min="1" max="10" placeholder="חדרים" value="{{ params.rooms }}" required>
                </div>
                <div class="input-search-field">
                    <p>קומה</p>
                    <input class="floor" type="number" name="floor" id="floor" min="0" max="40" placeholder="קומה" value="{{ params.floor }}" required>
                </div>
                <div class="input-search-field">
                    <p>מטר רבוע</p>
                    <input class="size" type="number" name="size" id="size" min="10" max="300" placeholder="מטר" value="{{ params.size }}" required>
                </div>
                <div class="input-search-field">
                    <p>סוג הנכס</p>
                    <select class="asset_type" name="asset_type" autocomplete="off" id="asset_type">
                        <option value="1">דירה בבניין דירות</option>
                        <option value="2">דירת גן</option>
                        <option value="3">דירת גג</option>
                        <option value="4">דירת גג (פנטהאוס)</option>
                    </select>
                </div>
                <div class="input-search-field">
                    <p>חניה</p>
                    <select class="parking" name="parking" autocomplete="off" id="parking">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="input-search-field">
                    <p>מצב הנכס</p>
                    <select class="condition" name="condition" autocomplete="off" id="condition">
                        <option value="1">חדש מקבלן</option>
                        <option value="2">חדש</option>
                        <option value="3">משופץ</option>
                        <option value="4">מצב טוב</option>
                        <option value="5">צריך שיפוץ</option>
                    </select>
                </div>
            </div>
            <div class="calc-form-btn">
                <button type="submit">חפש</button>
            </div>
            <div id="loading-popup" class="loading-popup">
                <div class="loading-content">
                    <img src="{% static 'img/loading.gif' %}" alt="Loading" class="loading-spinner">
                    <p>Calculating...</p>
                </div>
            </div>
        </form>
    </div>

</div>
{%if error_message %}
<div class="error-calc">
    <h1> {{error_message}}</h1>
</div>

{% endif %}
{% if search %}

<div class="result-container">
  <div class="algo-res">
    <h2>כתובת: {{params.city}}, {{params.street}} {{params.home_number}}</h2>
    <div class="algo-price">
      <h3>לפי החישוב של NextRoof</h3>
      <h2>שווי הנכס הינו:</h2>
      <h2>{{predicted_price}}</h2>
    </div>
    <div class="algo-card-in">
      <div class="algo-right">
        <ul>
          <li>גודל הנכס: {{params.size}}</li>
          <li>{{params.rooms}}: חדרים</li>
          <li>קומה: {{params.floor}}</li>
          <li>סוג הנכס: דירה {{params.asset_value}}</li>
        </ul>
      </div>
      <div class="algo-left">
        <ul>
<!--          <li>שכונה: {{params.neighborhood}}</li>-->
          <li>גוש: {{params.gush}}</li>
          <li>חלקה: {{params.helka}}</li>
          <li>שנת בנייה: {{params.build_year}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div id="street_plot">
    <div class="button-row">
      <button class="button-choose" id="graph" value="true">גרף רחוב</button>
      <button class="button-choose" id="last-deals" value="false">עסקאות אחרונות</button>
      <button class="button-choose" id="similar-deals" value="false">גרף עיר</button>
    </div>

      <div class="user-choice">
        <img id="street-image" src="data:image/png;base64,{{ street_plt }}" alt="Street Plot">
        <div id="last-deals-content" class="generate-last-deals">
          <h3>עסקאות אחרונות ברחוב {{params.street}}</h3>
          <table>
            <thead>
              <tr>
                <th>תאריך</th>
                <th>סוג הנכס</th>
                <th>מספרים חדרים</th>
                <th>קומה</th>
                <th> גודל (מ"ר)</th>
                <th>שנת בנייה</th>
                <th>מספר קומות</th>
                <th>מספר בית</th>
                <th>מחיר</th>

              </tr>
            </thead>
            <tbody>
              {% for item in last_deals %}
                <tr>
                  <td>{{ item.date }}</td>
                  <td>{{ item.type }}</td>
                  <td>{{ item.rooms }}</td>
                  <td>{{ item.floor }}</td>
                  <td>{{ item.size }}</td>
                  <td>{{ item.build_year }}</td>
                  <td>{{ item.floors }}</td>
                  <td>{{ item.home_number }}</td>
                  <td>{{ item.price }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div id="similar-deals-content" class="generate-similar-deals">
          <img id="city-image" src="data:image/png;base64,{{ city_plt }}" alt="Price Change Plot">

        </div>
      </div>

  </div>
</div>

{%endif%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="{% static 'js/buy_sell.js' %}"></script>
<script src="{% static 'js/asset_value.js' %}"></script>



{% endblock %}
