{% load static %}
<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextRoof</title>
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/asset_value.css' %}">
    <link rel="icon" href="{% static 'img/nextroof-black.png' %}" type="image/png">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap" rel="stylesheet">

    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/asset_value.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<body dir="rtl">
    <header>
        <nav id="nav-bar" class='nav-bar'>>
            <div class="nav2">

                <ul>
                     <li>
                        <a href="{% url 'home' %}">
                          <img class="logo-img" rel="icon" src="{% static 'img/nextroof-white.png' %}" >
                        </a>
                     </li>
                    <li class="nav-link"><a href="{% url 'home' %}"> המציאה היומית</a></li>
                    <li class="nav-link"><a href="{% url 'asset_value' %}">שווי הנכס</a></li>
                    <li class="nav-link"><a href="{% url 'search' %}">חיפוש</a></li>
                    <li class="nav-link"><a href="https://www.linkedin.com/in/yoav-lavie-973ba61b4/">יצירת קשר</a></li>
                    <li class="nav-link"><a href="{% url 'home' %}">דף הבית</a></li>
                </ul>

            </div>
        </nav>

        <div class="hamburger-btn">
        <button class="nav-bar-btn" onclick="openNavBar(event)">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </button>

      </div>
   </header>

    <div>
    {% block content %}

    {% endblock %}
    </div>


<div class=close-sec>

    <footer>
        <div class="footer-link">
            <div class="linkedin-section">
                <a href="https://www.linkedin.com/in/yoav-lavie-973ba61b4/" target="_blank">
                    <img class="linkedin-icon" rel="icon" src="{% static 'img/linkedin.png' %}" >
                </a>
            </div>
        </div>
        <div class="logo-footer">
            <img class="logo-img-footer" rel="icon" src="{% static 'img/nextroof-white.png' %}" >
        </div>
    </footer>
  </div>

</body>
</html>
