{% load static %}
<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextRoof</title>
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/asset_value.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
<!--    <link rel="stylesheet" href="{% static 'css/ad.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/map.css' %}">

    <link rel="icon" href="{% static 'img/nextroof-black.png' %}" type="image/png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap" rel="stylesheet">

    <script src="{% static 'js/index.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<body dir="rtl">
    <header>
        <nav id="nav-bar" class='nav-bar'>>
            <div class="nav-container">
                <ul>
                     <li>
                        <a href="{% url 'home' %}">
                          <img class="logo-img" rel="icon" src="{% static 'img/nextroof-white.png' %}" >
                        </a>
                     </li>
                    <li class="nav-link"><a href="{% url 'home' %}"> המציאה היומית</a></li>
                    <li class="nav-link"><a href="{% url 'asset_value' %}">שווי הנכס</a></li>
                    <li class="nav-link"><a href="{% url 'search' %}">חיפוש</a></li>
                    <li class="nav-link"><a href="https://www.linkedin.com/in/yoav-lavie-973ba61b4/" target="_blank">יצירת קשר</a></li>
                    {% if user_logged_in %}
                        <ul>
                            <li><a href="{% url 'profile' %}">ברוך הבא, {{ user_name }} </a></li>
                            <li><a href="{% url 'logout' %}">התנתק</a></li>
                        </ul>
                    {% else %}
                        <ul>
                            <li><a href="{% url 'login' %}">התחבר</a></li>
                        </ul>
                    {% endif %}

                </ul>
            </div>
        </nav>

        <div class="hamburger-btn" onclick="toggleNavBar(event)">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>


      </div>
   </header>

    <div class="main-container">
    {% block content %}

    {% endblock %}
    </div>


<div class=close-sec>
    <footer>

        <div class="social">
            <div class="linkedin-section">
                <a href="https://www.linkedin.com/in/yoav-lavie-973ba61b4/" target="_blank">
                    <img class="linkedin-icon" rel="icon" src="{% static 'img/linkedin-logo.png' %}" >
                </a>
            </div>
            <div class="github-section">
                <a href="https://github.com/yoavlv/NextRoof" target="_blank">
                    <img class="github-icon" rel="icon" src="{% static 'img/github-icon.png' %}" >
                </a>
            </div>
            <div class="email-section">
                <a href="mailto:yoavlv12@gmail.com" target="_blank">
                    <img class="email-icon" rel="icon" src="{% static 'img/email-icon.png' %}">
                </a>
            </div>
             <div class="nextroof-section">
                <a href="https://www.linkedin.com/in/yoav-lavie-973ba61b4/" target="_blank">
                    <img class="nextroof-icon" rel="icon" src="{% static 'img/nextroof-black.png' %}" >
                </a>
            </div>

        </div>

        <div class="about-me">
            <h3>Yoav Lavie</h3>
            <p>A Data Solution Engineer & Full Stack developer dedicated to exploring challenges and crafting the finest solutions with innovation and efficiency</p>
        </div>
        <hr>
        <p class="copyrights"> Copyrights 2024. Made by <Bold>Yoav Lavie</Bold>  ©</p>
    </footer>
  </div>

</body>
</html>
