{% extends 'index.html' %}

{% load static %}

{% block content %}

<div class="login-container">
    <h2>התחבר</h2>
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

    <div class="form-group">
        <label for="email">אימייל:</label>
        <input type="email" id="email" name="email" required>
    </div>

        <div class="form-group">
            <label for="password">סיסמא:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="form-group">
            <input type="submit" value="התחבר">
        </div>

    </form>
    <div class="register-link">
       עדיין אין לך חשבון? <a href="{% url 'register' %}">להרשמה</a>
    </div>
</div>

{% endblock %}
