{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="hero-search">
    <div class="sell-asset-value">
            <div class="buy">
                <a href="#">קונה</a>
            </div>
            <div class="sale">
                <a href="{% url 'asset_value' %}">שווי הנכס</a>
            </div>
    </div>

    <div class="Search-rectangle">
            <p class="search-text">חיפוש</p>
            <form action="{% url 'search' %}" method="get">
            <div class="input-search-field">
               <p>עיר</p>
              <input type="text" name="city" autocomplete="off" id="city_id" placeholder="לדוגמה, תל אביב">
            </div>

            <div class="input-search-field">
                <p>שכונה</p>
                <select class="neighborhood" name="neighborhood" autocomplete="off" id="neighborhood_id" onchange="saveSelectedNeighborhood(this.value)">
                    {% for neighborhood in neighborhoods %}
                        <option value="{{ neighborhood }}">{{ neighborhood }}</option>
                    {% endfor %}
                </select>
            </div>

             <div class="input-search-field">
               <p>חדרים מ-</p>
              <input class="coco1" type="number" name="min-rooms" id="min-room-number" min="1" max="10" placeholder="חדרים מ-" >
            </div>

            <div class="input-search-field">
            <p> עד-</p>
              <input class="coco1" type="number" name="max-rooms" id="max-room-number" min="1" max="10" placeholder="חדרים מ-" >
            </div>

           <div class="input-search-field">
               <p>קומה מ-</p>
              <input class="coco1" type="number" name="min-floor" id="min-floor" min="1" max="10" placeholder="קומה" >
            </div>
             <div class="input-search-field">
            <p>קומה עד-</p>
              <input class="coco1" type="number" name="max-floor" id="max-floor" min="1" max="10" placeholder="מ-" >
            </div>

           <div class="input-search-field">
           <p>גודל עד-</p>
              <input class="coco1" type="number" name="min-size" id="min-size" min="1" max="10" placeholder="עד-" >
            </div>
              <div class="input-search-field">
                <p>גודל עד-</p>
              <input class="coco1" type="number" name="max-size" id="max-size" min="1" max="10" placeholder="מר" >
            </div>

            <div class="search-btn">
              <button class="click-continue" type="submit">חפש</button>
            </div>
        </form>
      </div>

</div>



<div class = 'daily-find'>
<div class="day-title">

    <h1>המציאה היומית</h1>
    <p>כאן תוכלו למצוא מציאות שוות לקנייה/השקעה</p>

    <button class="btn-daily">הצטרפו וקבלו הצעות ראשונים</button>

    </div>

<section class="day">

{% for deal in top_deals %}

    {% if forloop.counter0 %}
        <div class="card-day-right">
    {% elif forloop.counter1 %}
        <div class="card-day-middle">
    {% else %}
        <div class="card-day-left">
    {% endif %}

        <div class="top-card">
            {% if deal.Images %}
                <img class="photo-card" src="{{ deal.Images }}" alt="">
            {% else %}
                <img class="photo-card" src="{% static '/img/default-asset-img.jpg' %}" alt="">
            {% endif %}

            <img alt="" class="triple-card" src="https://static.overlay-tech.com/assets/1caae834-6301-4529-9963-b5b4ddb1b780.svg">
        </div>

        <div class="down-card-text">
            <div class="down-card">
                <p class="saving">חיסכון: {{ deal.p_change }}%</p>
                <p class="price">מחיר מבוקש : {{ deal.Price }}</p>
                <p class="predicted-price">מחיר מוערך: {{ deal.Predicted }}</p>
                <p class="location-apartment">{{ deal.Street }}, {{ deal.Neighborhood }}, {{ deal.City }}</p>
            </div>

            <div class="details">
                <p class="num-90">{{ deal.Size }} מ"ר</p>
                <p class="line-1"></p>
                <p class="num-5">קומה {{ deal.Floor }}</p>
                <p class="line-1"></p>
                <p class="num-4">חדרים {{ deal.Room }}</p>
            </div>

            {% if forloop.counter0 %}
                <button class="btn-card1" onclick="window.location.href='{{ deal.link }}'">לפרטים נוספים</button>
            {% elif forloop.counter1 %}
                <button class="btn-card2" onclick="window.location.href='{{ deal.link }}'">לפרטים נוספים</button>
            {% else %}
                <button class="btn-card3" onclick="window.location.href='{{ deal.link }}'">לפרטים נוספים</button>
            {% endif %}
        </div>
    </div>

{% endfor %}

    </section>
</div>
{% endblock %}


