{% extends 'index.html' %}
{% load static %}

{% block content %}
<section class="hero-search">
    <div class="bob">
        <div class="roof">
            <div class="category">
                <div class="ana">
                    <div class="word-card">
                        <div class="buy">
                            <a href="#">קונה</a>
                        </div>
                        <div class="sale">
                            <a href="#">שווי הנכס</a>
                        </div>
                    </div>
                </div>
            </div>
            <section class="Search-rectangle">
                <div class="flex-wrapper-six">
                    <p class="mca-at-hbit-hba-wlk">מצא את הבית הבא שלך</p>
                    <form action="{% url 'search' %}" method="get">
                        <input type="text" name="neighborhood" autocomplete="off" id="input_address" placeholder="שכונה" required>
                        <input class="coco1" type="number" name="room"  id="room-numbrt" min="1" max="30" placeholder="חדרים">
                        <input class="coco" type="number" id="first-number"  name="min-price" min="1" max="300000000" placeholder=" מ-">
                        <input class="coco" type="number" id="first-second" name="max-price" min="1" max="300000000" placeholder=" עד-">
                        <button class="sudmit2" type="submit">חיפוש מתקדם</button>
                        <button class="sudmit1" type="submit">חיפוש</button>
                    </form>

                </div>
            </section>
            <img alt="" class="triple" src="https://static.overlay-tech.com/assets/70647bc4-e803-47da-a4da-b594cf1fc1b2.svg">
        </div>
    </div>
</section>

</header>

<section class="hmzea-hyomet">
    <h1>המציאה היומית</h1>
    <p>כאן תוכלו למצוא מציאות שוות לקנייה/השקעה</p>

    <button class="btn-hmzea">הצטרפו וקבלו הצעות ראשונים</button>

</section>


<section class="day">

{% for deal in top_deals %}

    {% if forloop.counter0 %}
        <div class="card-hmzea-right">
    {% elif forloop.counter1 %}
        <div class="card-hmzea-middle">
    {% else %}
        <div class="card-hmzea-left">
    {% endif %}

        <div class="top-card">
            {% if deal.Images %}
                <img class="photo-card" src="{{ deal.Images }}" alt="">
            {% else %}
                <img class="photo-card" src="{% static 'img/nvFile3401256.jpg' %}" alt="">
            {% endif %}
            <img alt="" class="triple-card" src="https://static.overlay-tech.com/assets/1caae834-6301-4529-9963-b5b4ddb1b780.svg">
        </div>

        <div class="down-card-text">
            <div class="down-card">
                <p class="hiskvn">חיסכון: {{ deal.p_change }}%</p>
                <p class="mhir-mbvqw">מחיר מבוקש : {{ deal.Price }}</p>
                <p class="mhir-mverk">מחיר מוערך: {{ deal.Predicted }}</p>
                <p class="location-apartment">{{ deal.Street }}, {{ deal.Neighborhood }}, {{ deal.City }}</p>
            </div>

            <div class="details">
                <p class="num-90">{{ deal.Size }} מ"ר</p>
                <p class="line-1"></p>
                <p class="num-5">קומה {{ deal.Floor }}</p>
                <p class="line-1"></p>
                <p class="num-4">חדרים {{ deal.Room }}</p>
            </div>

            {% if forloop.counter0 %}
                <button class="btn-card1" onclick="window.location.href='{{ deal.link }}'">לפרטים נוספים</button>
            {% elif forloop.counter1 %}
                <button class="btn-card2" onclick="window.location.href='{{ deal.link }}'">לפרטים נוספים</button>
            {% else %}
                <button class="btn-card3" onclick="window.location.href='{{ deal.link }}'">לפרטים נוספים</button>
            {% endif %}
        </div>
    </div>

{% endfor %}

</section>

{% endblock %}