@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.welcome {
    padding: 5rem;
    text-align: right;
    background-color: rgba(255,255,255,0.7);
    width:100%
    max-width: 50rem;
    margin: 3rem auto;

}

.welcome h1 {
    color: #333;
    font-size: 3.5rem;
    margin-bottom: 2.25rem;
    font-weight: 700;
}

.welcome p {
    color: black;
    font-size: 2.2rem;
    line-height: 1.6;
}
.welcome h1, .welcome p {
    animation: 1.7s ease-out 0s 1 slideInFromRight;
}


.daily-find {
    max-height: auto;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.daily-find-title {
    animation: slideUp 1.3s ease-in-out forwards;
    font-size: 2.3rem;
    color: #2a2a2a;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    font-weight: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0.5rem 0;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.newsletter{
    margin-top:7rem;
    background: rgba(233, 242, 250, 0.8);
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.25rem;
}


.newsletter p {
  font-size: 1.5rem;
  color: black;
  text-indent: 0.125rem;
  text-transform: uppercase;
}

.newsletter button {
  margin-top:1.7rem;
  padding: 0.4rem 1.8rem;
  border-style: none;
  border-radius: 0.7rem;
  background: #072f55;
  color: #ffffff;
  font-size: 1.4rem;
  max-width:25%
  margin: 0.9rem 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.newsletter button:hover {
  background: #0c3476;
}


.day-deal {
  width: 75%;
  color: alicee-blue;
  margin: 0 auto;
  text-align: center;
  animation: slideUp 1.3s ease-in-out forwards;

}



@keyframes slideUp {
    from {
        transform: translateY(100px);  /* or a value of your choice */
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.day {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
  margin: auto;
  margin-top: 2.7rem;
  animation: slideUp 1.3s ease-in-out forwards;

}

.card-day-right {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-day-right .top-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-day-right .top-card .photo-card {
  width: 18.6rem;
  height: 12.3rem;
  -webkit-clip-path: polygon(47% 0, 100% 1%, 100% 100%, 13.2% 100%);
          clip-path: polygon(47% 0, 100% 1%, 100% 100%, 13.2% 100%);
  position: absolute;
  margin-top: 2.7rem;
}

.card-day-right .top-card .triple-card {
  width: 10.375rem; /* Converted from 166px */
  margin-right: 6.225rem; /* Converted from 6.1rem */
}

.card-day-right .down-card {
  text-align: center;
  color: #ffffff;
}

.card-day-right .down-card p {
  padding: 0.2rem 0;
  font-size: 1rem;
}

.card-day-right .down-card .saving {
  font-size: 1.8rem;
  font-weight: 700;
  padding-top: 1.4rem;
}

.card-day-right .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  padding: 0.8rem 0;
}

.card-day-right .details .line-1 {
  color:black;
  width: 0.08rem;
  height: 2rem;
  background-color: #ffffff;
}


.down-card-text {
  text-align: center;
  background-color: rgba(255, 255, 255,0.6);
  border-radius: 0.1875rem; /* Converted from 3px */
}

.down-card-text p{
    color:black;
}
.card-day-middle {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-day-middle .top-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-day-middle .top-card .photo-card {
  width: 18.6rem;
  height: 12.3rem;
  -webkit-clip-path: polygon(47% 0, 100% 1%, 100% 100%, 13.2% 100%);
          clip-path: polygon(47% 0, 100% 1%, 100% 100%, 13.2% 100%);
  position: absolute;
  margin-top: 2.7rem;
}


.card-day-middle .down-card {
  text-align: center;
}

.card-day-middle .down-card p {
  padding: 0.2rem 0;
  font-size: 1rem;
}

.card-day-middle .down-card .saving {
  font-size: 1.8rem;
  font-weight: 700;
  padding-top: 1.4rem;
}

.card-day-middle .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  padding: 0.8rem 0;
}

.card-day-middle .details {
  width: 0.08rem;
  height: 2rem;
}



.card-day-left {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-day-left .top-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-day-left .top-card .photo-card {
  width: 18.6rem;
  height: 12.3rem;
  -webkit-clip-path: polygon(47% 0, 100% 1%, 100% 100%, 13.2% 100%);
          clip-path: polygon(47% 0, 100% 1%, 100% 100%, 13.2% 100%);
  position: absolute;
  margin-top: 2.7rem;
}

.card-day-left .top-card .triple-card {
  width: 10.375rem;
  margin-right: 6.225rem;
}

.card-day-left .down-card {
  text-align: center;
  color: #ffffff;
}

.card-day-left .down-card p {
  padding: 0.2rem 0;
  font-size: 1rem;
}

.card-day-left .down-card .saving {
  font-size: 1.8rem;
  font-weight: 700;
  padding-top: 1.4rem;
}

.card-day-left .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  padding: 0.8rem 0;
}

.card-day-left .details .line-1 {
  width: 0.08rem;
  height: 2rem;
  background-color: #ffffff;
}


.btn-card {
    width: 82%;
    margin: 0.9rem 0;
    padding: 0.4rem 1.8rem;
    border: none;
    border-radius: 0.2rem;
    background: #071f35;
    color: #ffffff;
    font-size: 1.2rem;
    transition: 0.3s;
    cursor:pointer;
}

.btn-card:hover {
    background: #0A2B50;
}

.card-day-right .details .line-1,
.card-day-middle .details .line-1,
.card-day-left .details .line-1 {
    background-color: black;
}

.btn-daily {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
@media (max-width: 768px) {

    .welcome {
        margin-top:3rem;
        width: 100%;    /* viewport width */
        margin: 1;
        padding: 4rem;
        box-sizing: border-box;  /* to ensure padding and border are included in width calculation */
    }


    .daily-find {
        position:center;
        width: 100%;
        max-width: none;
        padding: 1rem;
        top: 0.5rem;
    }

  .newsletter {
    top: 3.9rem; /* Reduced from 7.8rem */
    left: 10rem; /* Reduced from -0.625rem */
    width: 100%;/* Adjusted from 25% to make it wider on mobile screens */
  }


    .day {
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;
    }

    .card-day-right, .card-day-middle {
        /* You may need to adjust some more styles here */
    }

}

@media (max-width: 480px) {
    .day-title h1 {
        font-size: 1.4rem;
    }

    /* ... any other mobile specific styles ... */
}
