/* Keyframes */
@keyframes slideInFromRight {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}


@keyframes slideUp {
    from { transform: translateY(100px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* Welcome Section */
.welcome {
    padding: 5rem;
    text-align: right;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.7) 0%, transparent 50%);
    width: 100%;
    margin: 3rem auto;
}
.welcome h1, .welcome p {
    color: #333;
    animation: slideInFromRight 1.7s ease-out;
}

.welcome h1 {
    font-size: 3.5rem;
    margin-bottom: 2.25rem;
    font-weight: 700;
}

.welcome p {
    font-size: 2.2rem;
    line-height: 1.6;
}

/* Daily Find Section */
.daily-find {
    max-height: auto;
    position: relative;
    margin: 0 auto;
    text-align: center;
}


.daily-find-title {
    width: 100%;
    animation: slideUp 1.6s ease-in-out forwards;
    font-size: 2.2rem; /* Increased font size for more prominence */
    color: #2a2a2a; /* Consider a different color if it matches your color scheme */
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold; /* Changed from 1rem to 'bold' for more impact */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); /* Enhanced text shadow for depth */
    margin-top: 1rem; /* Adjusted margin for better spacing */
    margin-bottom: 1rem;
    letter-spacing: 0.1rem; /* Increased letter spacing for elegance */
    transition: all 0.35s ease;
    padding: 1rem; /* Padding for better spacing */
    display: inline-block; /* To respect padding and border */
    /*background-color: rgba(255, 255, 255, 0.2); /* Optional: subtle background */
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-up {
    animation: slideUp 2s ease-out forwards;
}
/* Day Deal Section */
.day-deal {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    animation: slideUp 1.3s ease-in-out forwards;
}


.day {
    width: 100%;
    display: flex;
    gap: 0.8rem;
    margin: auto;
    padding-left:1rem;
    padding-right:1rem;
    margin-top: 2.7rem;
    animation: slideUp 1.9s ease-in-out forwards;
}

.card-day {
    margin: auto;
    justify-content: center;
}

.card-day .top-card {
    display: flex;
}

.card-day .top-card .photo-card {
    width: 18.6rem;
    height: 12.3rem;
    clip-path: polygon(47% 0, 100% 1%, 100% 100%, 13.2% 100%);
    position: absolute;
    margin-top: 2.7rem;
}

.card-day .top-card .triple-card {
    width: 10.375rem;
    margin-right: 6.225rem;
}

.card-day .card {
    text-align: center;
    color: white;
}

.card-day .card p {
    padding: 0.2rem 0;
    font-size: 1rem;
}

.card-day .card .saving {
    font-size: 1.8rem;
    font-weight: 700;
    padding-top: 1.4rem;
}

.card-day .details {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.1rem;
    align-items: center;
    color: white;
    padding: 0.8rem 0;
}

.card-day .details .line-1 {
    width: 0.08rem;
    height: 2rem;
    background-color: white;
}

.card-text {
    text-align: center;
    background-color: rgba(233, 242, 250, 0.9);
    border-radius: 0.1875rem;
}

.card-text p {
    color: black;
}

.btn-card, .btn-daily {
    padding: 0.4rem 1.8rem;
    border: none;
    border-radius: 0.2rem;
    background: #071f35;
    color: white;
    font-size: 1.2rem;
    transition: background 0.3s;
    cursor: pointer;
}

.btn-card:hover, .btn-daily:hover {
    background: #0A2B50;
}

.btn-daily {
    display: inline-block;
    text-align: center;
}

.card-day .top-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-day .top-card .photo-card {
  width: 18.6rem;
  height: 12.3rem;
  -webkit-clip-path: polygon(47% 0, 100% 1%, 100% 100%, 13.2% 100%);
          clip-path: polygon(47% 0, 100% 1%, 100% 100%, 13.2% 100%);
  position: absolute;
  margin-top: 2.7rem;
}

.card-day .top-card .triple-card {
  width: 10.375rem;
  margin-right: 6.225rem;
}

.card-day .card {
  text-align: center;
  color: #ffffff;
}

.card-day .card p {
  padding: 0.2rem 0;
  font-size: 1rem;
}

.card-day .card .saving {
  font-size: 1.8rem;
  font-weight: 700;
  padding-top: 1.4rem;
}

.card-day .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  padding: 0.8rem 0;
}

.card-day .details .line-1 {
  color:black;
  width: 0.08rem;
  height: 2rem;
  background-color: #ffffff;
}
/* Day Deal Section   #ffffff*/

.btn-card {
    width: 82%;
    margin: 0.9rem 0;
    padding: 0.4rem 1.8rem;
    border: none;
    border-radius: 0.2rem;
    background: #071f35;
    color: #ffffff;
    font-size: 1.2rem;
    transition: 0.3s;
    cursor:pointer;
}

.btn-card:hover {
    background: #0A2B50;
}

.card-day .details .line-1 {
    background-color: black;
}

.btn-daily {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

/* Newsletter Section */
.newsletter {
    background-color: rgba(233, 242, 250, 0.6);
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between the left and right sides */
    align-items: center; /* Align items vertically in the center */
    margin-top: 7rem;
    padding: 1.25rem;
    width: 100%;
    border-top: 1.5px solid black; /* Adds a 2px solid black border at the top */
    border-bottom: 1.5px solid black; /* Adds a 2px solid black border at the top */

}
.slide-up {
    animation: slideUp 3.5s ease-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.newsletter-left, .newsletter-right {
    flex: 1; /* Both take equal space */
    display: flex; /* Use flexbox inside them as well for further alignment */
    flex-direction: column; /* Arrange content in a column */
}

.newsletter-left ul, .newsletter-right ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Adjusted to display items in a column */
    flex-direction: column; /* Ensure list items are arranged in a column */
}

.newsletter-left li, .newsletter-right li {
    margin: 0.5rem 0; /* Adjust margin for vertical spacing between items */
}

.newsletter-left li img {
    width: 6.1rem; /* Set image width */
    height: auto; /* Keep image aspect ratio */
    margin-bottom: 0.5rem; /* Space below each image */
}
.newsletter-left li img {
    width: 6.1rem;
    height: auto;
    margin-bottom: 0.5rem;
    transition: transform 0.3s ease;
}

.newsletter-left li img:hover {
    transform: scale(1.2);
}
.newsletter p {
    padding-right: 1rem;
    font-size: 1.5rem;
    color: black;
}

.newsletter button {
    border: none;
    border-radius: 0.7rem;
    background: #072f55;
    color: white;
    font-size: 1.4rem;
    padding: 0.8rem 1.6rem; /* Adjust padding to make the button larger */
    margin: 1.7rem 0;
    transition: background 0.3s;
}

.newsletter button:hover {
    background: #0c3476;
}

.home-map {
   padding: 2rem;
   background-color: rgba(255, 255, 255, 1);
   border-bottom: 1.5px solid black;

}

@media only screen and (min-width: 1200px) and (max-width: 1560px) {
    .day {
        width: 100%;
        margin-top: 4rem;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .day {
        width: 100%;
        margin-top: 4rem;
    }

}
@media (max-width: 768px) {

     .welcome {
        margin-top: 6rem;
        width: 100%;
        padding: 4rem;
        box-sizing: border-box;
    }
    .welcome h1 {
        font-size: 2.5rem;
    }

    .welcome p {
        font-size: 1.2rem;
    }

    .daily-find {
        width: 100%;
        max-width: none;
        padding: 0rem;
    }

    .newsletter {
        width: 100%;
        padding-top: 1rem; /* Adjust as needed */
        padding-bottom: 1rem;
    }

    .day {
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;
    }

    .btn-card {
        display: block; /* Ensuring it's a block-level element */
        margin-left: auto;
        margin-right: auto;

        /* Other styles */
    }


    .card-day {
        /* Add styles for .card-day if needed */
        width: 75%; /* Example to ensure full width */
        display: block; /* Ensuring it's a block-level element */
        margin-left: auto;
        margin-right: auto;
    }

    .newsletter button {
        max-width: 65%;
    }

}
