@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}
.no-scroll {
    overflow: hidden;
}

body {
    z-index: 1001;
    background-color: rgba(233, 0, 250);
    background-image: url("/static/img/background-large.jpeg");
    background-repeat: no-repeat;
    background-position: top center;
    font-family: "Rubik", sans-serif;
    transform-origin: center center;
}

.main-container {
    position: relative; /* Ensure z-index is effective */
    z-index: 10; /* Lower than the nav-bar to demonstrate stacking */
    padding-top: 6rem;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6.0rem;
    z-index: 1002; /* Adjusted to be above body z-index */
    background-color: transparent; /* Initially transparent */
    transition: background-color 0.3s;
    width: 100%;
}


.nav-container {
    width: 80%;
    display: flex;
    height: 100%;
    padding: 0.4rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

.nav-container ul {
    margin-top:0rem;
    color: white;
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0 2rem;
    align-items: center;
}

.nav-link {
    margin-top:0rem;
}


.nav-container ul li {
    margin:0.8rem;
    transition: transform 0.3s ease;
    height: 6.5rem;
    line-height: 6.5rem;
}

.nav-container ul li:hover {
    transform: scale(1.2);
}

.nav-container a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}
.nav-container ul li a { /* Assuming you're styling anchor tags */
    color: black; /* Initial text color */
    transition: color 0.3s; /* Smooth transition for color change */
}

/* You might also want to add styles for the transparent class if used */
.transparent {
    background-color: rgba(9, 30, 40, 0.3) !important; /* Ensure override */
}

.logo-img {
    margin-top: 1.05rem;
    position:right;
    width: 3.8rem;
    height: 3.8rem;
}

.about-us {
  background: rgba(233, 242, 250, 0.5);
  color: black;
  padding: 8rem 8rem;
  text-align: center;
  font-size: 1.4rem;
  max-width: 100%;
  line-height: 2.2rem;
}

.about-us h2 {
    padding-bottom:1.5rem;
}

footer {
    display: flex;
    justify-content: center; /* Horizontally center children */
    align-items: center; /* Vertically center children (if needed) */
    flex-direction: column; /* Stack children vertically */
    /*background: linear-gradient(to bottom, rgba(255, 255, 0, 0.7) 0%, rgba(255, 255, 255, 0) 100%);*/
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    text-align: center;
    color: #333; /* Choose a color that suits your design */
    font-family: Arial, sans-serif; /* Choose a font that suits your design */
}


.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.8rem;
    margin-bottom: 2rem;
}

.social h3 {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #555;
}

.github-icon, .email-icon, .nextroof-icon , .linkedin-icon{
    width: 3rem;
    height: 3rem;
    transition: transform 0.3s ease-in-out;
}


.linkedin-icon:hover, .github-icon:hover, .email-icon:hover, .nextroof-icon:hover {
    transform: scale(1.25); /* Slight increase in size on hover */
}

.about-me {
    margin-bottom: 1rem;
}

.about-me h3 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.about-me p {
    color: white;
    font-size: 1.2rem;
    line-height: 1.4;
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #fff;
    margin-bottom: 1rem;
}

footer p {

    font-size: 0.9rem;
}

footer p bold {
    font-weight: bold;
}

.copyrights {
    color: white;
}

@media (max-width: 768px) {
    body {
        background-image: url("/static/img/background-small.jpeg");
     }
    .main-container {
            padding-top: 1rem;
        }

    .nav-bar {
        display:none;
        height: 100%;
        background-color: rgba(23, 144, 243, 0.99);
        position: absolute;
        z-index: 1000;
        flex-direction: column;
        align-items: center;
    }

    .hamburger-btn {
        position: absolute;
        z-index: 1002;
        margin-top: 1rem;
        right: 1rem;
        cursor: pointer;
    }
    .hamburger-btn .line {
        transition: transform 0.4s ease, opacity 0.4s ease;
    }
    .hamburger-btn.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .hamburger-btn.active .line:nth-child(2) {
        opacity: 0;
    }
    .hamburger-btn.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }

    .line {
        width: 2.5rem;
        height: 0.1875rem;
        background-color: #000;
        margin: 0.35rem 0;
    }

    .nav-container ul {
        flex-direction: column;
        padding: 0.5rem 0;
        gap: 0.0rem;
        align-items: center;
        margin-bottom: auto;
    }
    .nav-container ul li {
        margin:0.0rem;
    }

    .about-us {
        max-width: 100%;
        margin: 4rem auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    footer {
        margin-top: 7rem;

    }
}
@media only screen and (min-width: 1080px) and (max-width: 1340px) {

    body {
            background-image: url("/static/img/background-small.jpeg");
         }
    .nav-container ul li {
        margin: 0.3rem; /* Reduce margin */
        padding: 0.2rem; /* Reduce padding */
        gap: 0.1rem;
    }

}
/* Medium screens (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1080px) {
    body {
            background-image: url("/static/img/background-small.jpeg");
         }
    .nav-bar {
        height: 6.5rem;
        padding: 0.5rem 0; /* Add some padding to the top and bottom */

    }
    .main-container {
        padding-top: 7rem;
    }

      .nav-container a {
        font-size: 0.8rem;
    }

    .nav-container a {
        font-size: 1rem; /* Reduce font size */
    }

    .nav-container ul li {
        margin: 0.3rem; /* Reduce margin */
        padding: 0.2rem; /* Reduce padding */
        gap: 0.1rem;
    }


}
