.map-filters {
    background: rgba(190, 190, 190, 0.7);
    padding: 1rem;
    border-radius: 0.3125rem;
}

.map-page-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1.25rem;
    padding: 1.25rem;
}

.map-section {
    text-align: center;
    padding: 1.25rem;
    background-color: #f0f0f0;
}

.map-container {
    flex: 1;
    height: 700px;
    margin-right: 0.625rem;
}

/* Style for the h1 heading */
.map-section h1 {

    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    color: #333;
}

/* Style for the search form */
#searchForm {
    margin-bottom: 1.25rem;
}

#searchForm label {
    font-weight: bold;
    font-size: 1rem;
    margin-right: 0.625rem;
    color: #333;
}




.map {
    height: 700px;
    border: 0.0625rem solid #ccc;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.search-container {
    flex-basis: 300px;
    padding: 1rem;
}
.search-container h1 {
    max-width: 250px;
    margin-bottom: 1.1rem;
}

/* Style for the buttons */
.button-row-map {
    margin-top: 0.3125rem;
}

.button-choose {
    background-color: #007BFF;
    color: #fff;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.3125rem;
    font-size: 1rem;
    margin-right: 0.625rem;
    cursor: pointer;
}

.leaflet-popup-content-wrapper {
    width: 720px;
    height:auto;
}

.leaflet-popup-content {
    width:750px;
    height:auto;
}

.plot-image {
    text-align: center;
    width: 700px;
    height: auto;
}


.plot-div {
  max-width: 900px;
  margin-right: auto;
  margin-left: 2rem; /* This will push the div to the right */
}

/* Style for the grid container */
.last-deals-grid {
    font-family: Arial, sans-serif;
    max-width: 900px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
}


/* Style for the grid title */
.grid-title {
    background-color: rgb(0, 123, 255, 0.7);
    color: #ffffff;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    border-radius: 0.3125rem;

}

/* Style for the header row */
.grid-row.header {
    background-color: #eeeeee;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
}

/* Style for each row in the grid (including the header) */
.grid-row {
    display: flex;
    align-items: center;
    padding: 5px 8px;
}

/* Style for each cell in the grid */
.grid-row > div {
    flex: 1;
    text-align: center;
    padding: 5px 10px;
}

/* Add borders to the cells for clarity */
.grid-row > div:not(:last-child) {
    border-right: 1px solid #dddddd;
}

#loadPolygonsButton:hover {
    background-color: #0056b3;
}

.errorMessage {
    color: #D8000C; /* Red text color for error messages */
    background-color: #FFD2D2; /* Light red background for visibility */
    border: 1px solid #D8000C; /* Red border to highlight the error message box */
    padding: 10px; /* Add some space inside the error message box */
    margin: 10px 0; /* Add some space outside the error message box */
    border-radius: 5px; /* Rounded corners for a smoother look */
    font-family: Arial, sans-serif; /* Use a standard, readable font */
    font-size: 14px; /* Set a readable font size */
    text-align: left; /* Align the text to the left */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Add a subtle shadow for depth */
    max-width: 90%; /* Limit the maximum width of the error message box */
    word-wrap: break-word; /* Ensure long words do not overflow */
}

@media (max-width: 768px) {
    .map-page-container {
        padding-top: 3rem;
        flex-direction: column;
        align-items: stretch; /* Ensure children stretch to fill the container */
        gap: 0.625rem; /* Reduce gap for compact display */
    }

    /* Adjust the filters section for better visibility and interaction */
    .map-filters {
        padding: 0.625rem; /* Reduce padding */
        border-radius: 0.3125rem; /* Optional: Adjust border radius for stylistic consistency */
    }

    /* Ensure search and other form elements occupy full width for easier interaction */
    .search-container, .map-container, .polygons-div, #searchForm input[type="text"], #searchForm button, #loadPolygonsButton {
        width: 100%; /* Make elements full width */
    }

    /* Adjust the map's height to maintain usability and visibility on smaller screens */
    .map, .map-container {
        height: 400px; /* Adjusted for better visibility on small screens */
    }

    /* Simplify form layout */
    #searchForm, .polygons-div {
        display: block; /* Stack form elements vertically */
    }

    /* Adjust button styles for easier interaction */
    .button-choose, #loadPolygonsButton {
        padding: 0.5rem; /* Adjust padding for easier tapping */
        margin-top: 0.3125rem; /* Ensure margin-top for separation */
        font-size: 0.9rem; /* Adjust font size for space and readability */
    }

    /* Adjust label and input text sizes for readability */
    #searchForm label, .filter-year p {
        font-size: 0.9rem; /* Slightly reduce font size for space */
    }

    /* Adjust form elements for better fit and appearance */
    .filter-year select, #searchForm input[type="text"] {
        padding: 0.5rem; /* Adjust padding for better touch interaction */
        font-size: 0.9rem; /* Ensure text is readable */
    }
}
