.post-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3rem;
  min-height: 70vh;
  background: rgba(190, 190, 190, 0.7);
  border-radius: 0.0125rem;
}

.post-header {
  margin-top: 1rem;
  width: 100%;
  margin-right: 3rem;
}

.form-control {
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 0.8rem;
}

.post-form {
  margin-right: 3rem;
  margin-top: 1rem;
}

.form-group {
  margin-bottom: 1.25rem;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.checkbox-container .input[type="text"], input[type="number"], input[type="date"], input[type="tel"], input[type="email"], .text-div textarea, .col .form-control {
  width: 100%;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 0.8rem;
}

input[type="checkbox"] {
  margin-right: 0.0rem;
  transform: scale(0.8);
}


.post-apt-btn {
  background-color: #007BFF;
  color: #fff;
  padding: 0.625rem 5.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top:1rem;
}

.post-apt-btn:hover {
  background-color: #0056b3;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  direction: rtl;
}

.checkbox-container {
  display: inline-flex;
  align-items: center;

}
.checkbox-container input[type="checkbox"] {
    width: 2rem;
    height:  2rem;
}
.col {
  flex: 1;
  margin: 1rem;
}

#text {
  rows: 10;
  width: calc(0.6em * 60);
  height: calc(1.5em * 10);
  resize: none;
}

#contact_email, #contact_phone, #contact_name {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.contact {
  position: relative;
  left: 40%;
  display: flex;
  flex-direction: column;
}

.contact-label {
  margin: 0.22rem;
}

@media (max-width: 768px) {
    /* Adjusting general font sizes */
    .post-header {

      margin-right: 0rem;
    }
    .post-sec {
      min-height: 260vh;

    }
    label, .form-control {
        font-size: 1rem; /* A bit larger for readability */
    }

    /* Adjusting button sizes for easier touch */
    button {
        display: block;
        margin: 3rem auto 0 auto; /* The 'auto' value for left and right margins will center the button */
        font-size: 1.1rem;
        padding: 0.8rem 1.5rem;
        width:60%;
    }

    /* Adjusting layout dimensions */
    .row {
        flex-direction: column; /* Stacking columns vertically */
        align-items: center; /* Centering items */
    }

    .col {
        margin: 0.5rem 0; /* Reducing the margin */
        width: 90%; /* Taking most of the screen width, but leaving a little space */
    }
    #text {
        rows: 10;
        width: calc(0.6em * 25);
        height: calc(1.5em * 6);
    }
    /* Adjusting input fields */
    #contact_email, #contact_phone, #contact_name {
        width: 100%;
        padding: 0.6rem;
        margin-bottom: 0.3rem;
        margin-top: 0.3rem;
    }

    /* Adjusting the post-section */
    .post-sec {
        margin-top: 2rem; /* Reducing the top margin */
    }

    .post-header {
        margin-left: 1rem; /* Reducing the left margin */
    }

    /* Adjusting the contact section */
    .contact {
        left: 0; /* Resetting the positioning */
    }

    .contact-label {
        margin: 0.2rem 0; /* Adjusting top and bottom margin only */
    }
}
