.hero-search {
  margin-top:1rem;
  min-height: 67vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.search-rectangle {
  display: flex;
  justify-content: space-between; /* Keep this to align items on both ends */
  align-items: center;
  width: 87%;
  margin-right: 6rem;
  margin-top: 0rem;
  padding-right: 3rem;
  min-height: 21.5rem;
  background: rgba(190, 190, 190, 0.7);
  clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%);
  border-radius: 0.0125rem;
}

.sell-asset-value {
  margin-right: 6rem;
  display: flex;
}

.sale , .buy {
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255);
  border-radius: 0.8rem;
  padding: 1.2rem;
  text-align: center;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  margin: 0.6rem;
}


.buy.active, .sale.active {
    transform: scale(1.1);
    background-color: rgba(220,255,255);;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.calc-form {
  display: flex;
  flex-direction: column; /* Keeps the main axis vertical */
  align-items: flex-start; /* Aligns items to the start of the cross axis */
  gap: 0.1rem;
  z-index: 1001;
  padding-left: 10rem;
  direction: rtl; /* Sets the direction of text and layout to right-to-left */
}


.search-text {
  font-size: 2rem;
  font-weight: 400;
  color: #020b13;
}


.city , .street {
  width: 12rem;
  padding-right: 0rem;
  height: 2rem;
}

#min-price , #max-price , #min-room-number , #max-room-number, #min-floor , #max-floor, #min-size , #max-size {
  border-radius: 0.2rem;
  padding-right: 2rem;
  border-style: none;
  width: 6rem;
  height: 2rem;
}

.top-search-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
}

.down-search-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
}

.calc-form-btn button, .toggle-options {
    background: linear-gradient(135deg, #3a7bd5, #3a6073);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.calc-form-btn button:hover {
    background: linear-gradient(135deg, #a777e3, #6e8efb);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.calc-form-btn button:focus{
    outline: none;
}


.more-options-section {
    display: none;
    padding-left: 12rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
}


.total-results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.error-message {
    color: red; /* Or any color that fits your design */
    font-size: 1rem; /* Adjust as needed */
    margin: 10px 0; /* Provides some spacing around the message */
    text-align: center; /* Center the message */
}
.res-number,
.sort-res {
    padding-top:1.5rem;
    font-size:1.2rem;
    flex: 1;
}

.sort-res {
    display: flex;
    align-items: center;
}

.sort-label {
    margin-right: 1rem;
}


#sort {
    width: 5.2rem;
    height: 2.7rem;
    appearance: none;
    padding: 0.8rem 0.9rem;
    margin-right: 1rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    background: #f9f9f9;
    color: #333;
    cursor: pointer;
}
#sort:hover,
#sort:focus {
    border-color: #999;
}

#sort option {
    background: #f9f9f9;
    color: #333;
}

#sort:hover option,
#sort:focus option {
    background-color: #e0e0e0;
}

.table-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  margin-top: 0rem;
  padding-left: 8rem;
  padding-right: 8rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.table-bordered {
  border-collapse: separate;
  border-spacing: 1.25rem;
  margin-bottom: 3.125rem;
  width: 100%;
}

.table-bordered td {
  padding: 1.875rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
  margin: 0.625rem;
}
.table-bordered dt {
  border-bottom: none;
}

.apt-card {
  margin: 0.2rem;
  border-radius: 0.625rem;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.7s;
  width: 32.0rem;
  max-width: 20rem;
  position: relative;
}

.btn, .like-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle; /* Add this to align buttons vertically */

}


.btn-primary {
   color: #ffffff;

}
.like-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-primary {
    border-radius: 0.2rem;
    color: white;
    background-color: #071f35;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 3.95rem; /* Adjust padding as needed */
    vertical-align: middle; /* Ensure primary button aligns with like button */

}

.btn-primary:hover {
    background: #0A2B50;
}

.like-icon {
    width: 2rem;
    height: 2.5rem;
    background-color: transparent;
    display: inline-block; /* This might already be the case due to being an <img>, but ensure it's here for clarity */
    vertical-align: middle; /* Align icon vertically within the button */
}
.card-img-top {
    position: relative;
    z-index: 1;
}
.apt-card img {
  width: 100%;
  border-radius: 0.9375rem;
}

.apt-card .apt-card-body {
  text-align: center;
  padding: 0.625rem;
  font-size: 1.1rem;
}

.apt-card .saving {
  margin-bottom: 0.625rem;
  font-size: 1.2rem;
  font-weight: bold;
}


.apt-card .saving, .apt-card .price, .apt-card .predicted-price, .apt-card .location-apartment {
  margin-bottom: 0.5rem;
}

.apt-size-floor-rooms {
    font-size: 0.96rem;
}

.apt-card .apt-size:last-child::after,
.apt-card .apt-floor:last-child::after {
  display: none;
}


.apt-card .apt-link a {
  display: block;
  text-align: center;
  line-height: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
}

.apt-card .apt-link .btn {
  display: flex;
  padding: 0.625rem 1.25rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.3125rem;
  transition: background-color 0.3s;
}

.apt-card .apt-link .btn:hover {
  background-color: rgba(220, 220, 220, 1);
}

.card .card-body a {
  margin: 0.625rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
  background-color: #f9f9f9;
  padding: 0.625rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.pagination a {
  color: #333;
  text-decoration: none;
  padding: 0.3125rem 0.625rem;
  margin: 0.3125rem;
  border-radius: 0.125rem;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #e6e6e6;
}

.pagination a.active {
  background-color: #041524;
  color: #ffffff;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.125rem;
}

.pagination .current-page {
  font-weight: bold;
  margin: 0 0.625rem;
}


@media only screen and (min-width: 768px) and (max-width: 1124px) {
    /* Adjust the Search Rectangle */
    .search-rectangle {
        width: 100%;
        margin: 0.1rem;
        margin-top: 0rem;
        min-height: 21.5rem;
        background: rgba(190, 190, 190, 0.7);
        clip-path: none;
        border-radius: 0.0125rem;
    }

    /* Adjust the hero search area for better spacing and alignment */
    .hero-search {
        margin-top: 1rem;
        min-height: 67vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    /* Ensure sale and buy options are visually distinct and well spaced */
    .sell-asset-value {
        margin-right: 1rem;
        display: flex;
    }

    .sale, .buy {
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255);
        border-radius: 0.8rem;
        padding: 1.2rem;
        text-align: center;
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
        margin: 0.6rem;
    }

    /* Highlight active options */
    .buy.active, .sale.active {
        transform: scale(1.1);
        background-color: rgba(220, 255, 255);
    }

    /* Adjust the appearance of form inputs for consistency */
    .calc-form {
        margin-right: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.1rem;
        z-index: 1001;
    }

    .calc-form input, .calc-form select {
      border-style: none;
      border-radius: 0.2rem;
      width: 100%;
      padding:0.02rem;
      max-height: 2rem;
    }

    /* Ensure short text fields are properly aligned and sized */
    .short-text-field {
        width: 2.5rem;
    }



    /* Adjust the layout and spacing of the more options section */
    .more-options-section {
        display: none; /* Adjust as necessary, based on your JS functionality */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 1rem;
        flex-wrap: wrap;
    }

    /* Ensure top and down search rows are well spaced and aligned */
    .top-search-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 1rem;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
    .sell-asset-value {
        margin-right: 0rem;
    }

  .hero-search {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .search-rectangle {
    margin-right: 0rem;
    margin-top:1rem;
    width: 100%;
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
    min-height: 31rem;
  }

  .calc-form {
    padding: 0.95rem;
    margin-right: 0rem;
    flex-direction: row;
    flex-wrap: wrap;
    right: auto;
    gap: 0.1rem;
  }

  .calc-form input, .calc-form select {
    width: 100%;
    margin-bottom: 0.05rem;
  }
  .short-text-field {
       width: 2.5rem;
    }

  .more-options-section , .top-search-row {
    gap: 0.1rem;
  }

  .calc-form .click-continue {
      position: static;
      margin: 0rem auto 0 auto;
      height: 5%;
      width: 100%;
      border-radius: 0.25rem;
      font-size: 0.7rem;
      padding: 0.4rem;
    }

   #min-price ,#max-price {
    width: 6rem;
   }

  .click-continue {
   font-size: 1.1rem;
   }

 .results {
    left: 0rem;
    }

  .total-results {
    height: 2rem;
    padding:0.1rem;
    top:1rem;
    border-radius: 0.525rem;
    width: 60%;
    margin-top: 2rem;
  }

  .table-container {
    margin-top: 0.7rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); /* Smaller column size for smaller screens */
    padding-left: 0rem;

    padding-right: 1.7rem;
    justify-content: center;
    align-items: center;
  }
  .table-bordered td {
    padding: 0rem;
    margin: 0rem;
  }

  .btn, .like-btn {
      padding: 0.4rem 0.8rem;
      font-size: 1rem;
      margin: 0.2rem;
  }

 #sort {
    width: 5.2rem;
    height: 2.7rem;
    appearance: none;
    padding: 0.8rem 0.9rem;
    margin-right: 1rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    background: #f9f9f9;
    color: #333;
    cursor: pointer;
    }
}
